.navbar-form {
width: 408px !important;
}
.navbar-form>div {
width: 91%  !important;
}
.articulo{
	/*border: 1px solid;*/
	height: 362px;
}
.art_articulo{
	font-weight: bold;
	font-family: "Eras ITC", "Eras Light ITC", sans-serif;
	/*font-style: italic;*/
	  text-transform: capitalize;
	  font-size: 19px;
	  padding-left: 4px;
}
.art_foto1{
	border: 3px solid;
	border-color:#FFC000;
	width: 90%;
height: 60%;
text-align: center;
}
.container-fluid{
	margin-top: 20px;
}
.art_precio{
	color:red;
	font-weight: bold;
	padding-left: 4px;
}
